.Login {
  background-color: #141414;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  overflow: hidden;
}
.LoginCard {
  width: 100%;
  height: 70vh;
  margin-top: 15vh;
  background-color: #1a1a1a;
  display: grid;
  grid-template-rows: 25% 50% 25%;
  overflow-x: hidden;
  overflow-y: auto;
}
input {
  padding: 10px;
  width: 85%;
  margin-left: 5%;
  margin-bottom: 3%;
  background-color: #141414;
  border: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: inherit;

  outline-width: 0;

  font-size: 15px;

  border-radius: 5px;
  color: #cccccc;
}
.Submit {
  width: 40%;
  margin-left: 50%;
  margin-top: 5%;
  background-color: #13a0ff;
  color: #1a1a1a;
  cursor: pointer;
}
.Heading {
  color: #fff;
  text-align: center;
  margin-top: 10%;
}
.Error {
  margin-left: 5%;
  margin-right: 5%;
  word-wrap: break-word;
  color: rgba(251, 30, 30, 0.904);
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}
